@using pfl_assessment.Models.Json.Orders
@model pfl_assessment.Models.Json.Orders.Item

<div class="itemRow rounded border border-dark bg-light">
    <div class="itemRowImage">
        <img src="@Model.Product.ImageUrl" class="itemProductImage" />
    </div>
    <div class="itemRowDetailsTopLine">
        @Model.Product.Name - QTY: @Model.Quantity
    </div>
    <div class="itemRowDetailsBottomLine">
        @Model.Product.Description <br />
        @if (Model.ItemFile != null)
        {
            <em>Image URL:</em> @Model.ItemFile <br />
        }
        @if (Model.Product.HasTemplate)
        {
            foreach (TemplateData data in Model.TemplateData)
            {
                <em>@data.TemplateDataName:</em> @data.TemplateDataValue <br />
            }
        }
    </div>
    <div class="itemRowControls">
        @using (Html.BeginForm("UpdateQuantity", "Cart"))
        {

            string quantityValidations = "";
            if (Model.Product.QuantityMinimum != null)
            {
                quantityValidations += "min=" + Model.Product.QuantityMinimum.Value + " ";
            }
            else
            {
                quantityValidations += "min=1 ";
            }
            if (Model.Product.QuantityMaximum != null)
            {
                quantityValidations += "max=" + Model.Product.QuantityMaximum.Value + " ";
            }
            if (Model.Product.QuantityIncrement != null)
            {
                quantityValidations += "step=" + Model.Product.QuantityIncrement.Value + " ";
            }

            <input type="number" value="@Model.Quantity" @quantityValidations name="quantity" />

            <input type="hidden" name="productId" value="@Model.ProductID" />
            <input type="submit" name="submit" class="btn btn-outline-primary" value="Update Quantity" />
        }

        @using (Html.BeginForm("RemoveItem", "Cart"))
        {
            <br/>
            <input type="hidden" name="productId" value="@Model.ProductID" />
            <input type="submit" class="btn btn-outline-danger" name="submit" value="Remove Item" />
        }
    </div>
</div>