@model pfl_assessment.Models.Json.Products.Product

    <h2>Order - @Model.Name</h2>
    @using (Html.BeginForm("AddItem", "Cart"))
    {
        <table>
        @foreach (var field in Model.TemplateFields.Fieldlist.Field)
        {
            <tr>
                <td>
                    @Html.Label(field.Fieldname)
                </td>
                <td style="width:600px">
                    @if (field.Type.Equals("SINGLELINE"))
                    {
                        @Html.TextBox(field.Fieldname, null, new { @style = "width:600px", @placeholder = field.Prompt[0].Text })
                    }
                    else if (field.Type.Equals("MULTILINE"))
                    {
                        @Html.TextArea(field.Fieldname, null, new { @style = "width:600px", @placeholder = field.Prompt[0].Text })
                    }
                    else
                    {
                        @Html.TextBox(field.Fieldname, null, new { @style = "width:600px", @placeholder = field.Prompt[0].Text })
                    }
                </td>
            </tr>
         }
        </table>
        <button class="btn btn-primary" type="submit">Add to Cart</button>
     }