@model pfl_assessment.Models.Json.Products.Product

<h2>Order - @Model.Name</h2>
@using (Html.BeginForm("AddItem", "Cart"))
{
    <table>
        @if (Model.HasTemplate)
        {
            foreach (var field in Model.TemplateFields.Fieldlist.Field)
            {
                if (field.Required == 'Y' || field.Visible == 'Y')
                {
                    string required = "";
                    if (field.Required == 'Y')
                    {
                        required = "required";
                    }
                    <tr>
                        <td>
                            @Html.Label(field.Fieldname)
                        </td>
                        <td style="width:600px">

                            @if (field.Type.Equals("MULTILINE"))
                            {
                                <textarea name="@field.Htmlfieldname" style="width:600px" placeholder="@field.Prompt[0].Text" @required></textarea>
                            }
                            else
                            {
                                <input type="text" name="@field.Htmlfieldname" style="width:600px" placeholder="@field.Prompt[0].Text" @required />
                            }
                        </td>
                    </tr>
                }
            }
        }

        <tr>
            <td>
                @Html.Label("Image URL")
            </td>
            <td style="width:600px">
                <input type="url" name="imageURL" style="width:600px" placeholder="Link to image" />
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label("Quantity")
            </td>
            <td style="width:600px">
                @{
                    string quantityValidations = "";
                    if (Model.QuantityMinimum != null)
                    {
                        quantityValidations += "min=" + Model.QuantityMinimum.Value + " ";
                    }
                    else
                    {
                        quantityValidations += "min=1 ";
                    }
                    if (Model.QuantityMaximum != null)
                    {
                        quantityValidations += "max=" + Model.QuantityMaximum.Value + " ";
                    }
                    if (Model.QuantityIncrement != null)
                    {
                        quantityValidations += "step=" + Model.QuantityIncrement.Value + " ";
                    }
                }
                <input type="number" value="@Model.QuantityDefault" @quantityValidations name="quantity" />

            </td>
        </tr>

    </table>
    <input type="hidden" value="@Model.ProductId" name="productId" />
    <button class="btn btn-primary" type="submit">Add to Cart</button>
}